
@font-face {
    font-family: arimoregular;
    src: url('ArimoRegular.woff2') format('woff2'), url('ArimoRegular.woff') format('woff'), url('ArimoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}